// Place all the styles related to the Updatesheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.done_text {
  color: green;
  font-weight: bold;
}

.not_done_text {
  color: red;
  font-weight: bold;
}

.hold_text{
  color: #f9d77e;
}

.display_none {
  display: none;
}
