<!DOCTYPE html>
<html>
  <head>
    <title>Sequoia1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">SequoiaCPE</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/datasheets">Course Data Sheet</a></li>
          <li><a href="/updatesheets">Updates Sheet</a></li>
        </ul>
      </div>
    </nav>

    <%= yield %>
    <script>

$(document).ready(function(){
  $('#search_symbol').on('click', sales_data);
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

const sales_data = function (event) {
  event.preventDefault();

  let data = 1

  $.getJSON(`http://localhost:3001/ordersheets/${ data }.json`).done(function(json){
    $('#results1').text(json.order_total)
  }).fail(function () {
      alert('Something bad happened');
    });
}

  </script>

  </body>
</html>
